/**************
    Styling for JPApplications Delete View
**************/

#deleteAppContainer {
    max-inline-size: max-content;
    margin-left: 0;
}

.deleteAppTable {
    text-align: left;
}

#deleteAppHead {
    text-align: left;
}

#deleteAppRightBtn {
    float:right;
}

#deleteAppLeftBtn {
    float:left;
}