        <div class="form-group" id="hires-button">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
                <div class="col-md-6 col-sm-5">
                    <input type="button"  value="Back to List" class="btn btn-default" onclick="location.href='@Url.Action("Index", "JPHires")'" />
                </div>
            </div>
        </div>