/******************
Styling for JPHires Create View 
******************/

#hires-create {
    margin-left: 15%;
    margin-top: 50px;
    }

#hires-create a {
    color:red;
}

#hires-button {
    justify-content:space-between;
    display: flex;
}

#hires-button .btn {
    margin-left: -2px;
    margin-top: 7px;
}