    /*************
    Styling for JPApplications Create View
    *************/

    #JPApplications-Create-error-text {
        color: red;
    }

    /**************
    Styling for JPCurrentJobs Create View
    **************/

    #JPCurrentJobs-Create-error-message {
        padding-left: 5%;
    }
    #JPCurrentJobs-Create-error-text {
        color:red;
    }