        <div class="form-group">
            <div class="text-center">
                <a href="../Account/Register"> You must be registered and logged in as a student before you can create a new hire.</a>
            </div>
        </div>